
@model PaginateVM<Product>

@{
    int count = (Model.CurrentPage - 1) * 2;
}


            <div class="card-body">
                <h4 class="card-title">Products Table</h4>
                <p class="card-description">
                    <a class="btn btn-success" asp-action="create" asp-controller="product">Create Table</a>
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product product in Model.Items)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td><img src="~/assets/img/portfolio/@product.Image" /></td>
                                    <td>@product.Title</td>
                                    <td>
                                        <a class="btn btn-warning btn-info" asp-action="update" asp-controller="product" asp-route-id="@product.Id">Update</a>
                                        <a class="btn btn-success btn-info" asp-action="details" asp-controller="product" asp-route-id="@product.Id">Details</a>
                                        <a class="btn btn-danger btn-info" asp-action="delete" asp-controller="product" asp-route-id="@product.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @(Model.CurrentPage-1==0?"disabled":"")">
                                <a class="page-link" asp-route-page="@(Model.CurrentPage-2)" asp-action="Index" asp-controller="Product">Previous</a>
                            </li>
                            @for (int i = 0; i < Model.TotalPage; i++)
                            {
                                <li class="page-item @(i==Model.CurrentPage?"disabled":"")">
                                    <a class="page-link" asp-route-page="@(i-1)" asp-action="Index" asp-controller="Product">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.CurrentPage-1==Model.TotalPage?"disabled":"")">
                                <a class="page-link" asp-route-page="@(Model.CurrentPage)" asp-action="Index" asp-controller="Product">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        
